{% load static %}
{% load djutils %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <!-- 
                        баланс 1000 / 500 
                        сделок: 10/5/3 выпол/сорвано/предложено 
                              👑 - эксклюзив
                        ✅ / ❌ - на линии
                              🥇 - услуга самый первый
                      -->
                      <th>Город</th>
                      <th>ФИО</th>
                      <th>Телефон</th>
                      <th>Дата регистрации</th>
                      <th>Баланс</th>
                      <th>Доход по рефералам</th>
                      <th>Сделок</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for emp in active_masters %}
                        <tr>
                          <td>{{ emp|get_value_from_dict:'name_city' }}</td>
                          <td>{% if emp|get_value_from_dict:'exclusive' == 1 %} 👑 {% endif %}
                              <a href="{% url "site_backend:master_card_url"  emp|get_value_from_dict:'id' %}">{{emp|get_value_from_dict:'full_name'}}</a>
                          {% if emp|get_value_from_dict:'active' == 1 %} ✅ {% else %} ❌ {% endif %}
                          {% if emp|get_value_from_dict:'very_first' %} 🥇 {% endif %} </td>
                          <td>{{emp|get_value_from_dict:'phone'}}</td>
                          <td>{{emp|get_value_from_dict:'reg_date'}}</td>
                          <td>{{emp|get_value_from_dict:'balance'}} ₽<br>{{emp|get_value_from_dict:'bonuses'}} ₽</td>
                          <th>{{emp|get_value_from_dict:'referal_income'}}₽</th>
                          <th data-toggle="tooltip" data-placement="top" title="Выполнено/Сорвано/Предложенно">{{emp|get_value_from_dict:'closed_deals_count'}}/{{emp|get_value_from_dict:'proped_deals_count'}}/{{emp|get_value_from_dict:'droped_deals_count'}}</th>
                          <th>
                            <div class="btn-group">
                              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item list-group-item-secondary" href="#">Редактировать</a>
                                <a class="dropdown-item list-group-item-primary" href="#">Заморозить</a>
                                <a class="dropdown-item list-group-item-danger" href="#">Заблокировать</a>
                                <div class="dropdown-divider"></div>
                                <!-- ВЫБЕРИ ОДНУ ИЗ КНОПОК -->
                                <a class="dropdown-item list-group-item-warning" href="#">Карточка исполнителя</a>
                                <a class="dropdown-item list-group-item-warning" href="#">Карточка Эксклюзива</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item list-group-item-info" href="#">Бонус 1 заказ</a>
                              </div>
                            </div>
                          </th>
                        </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>
